@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}
.lf {
    float: left;
}
.rf {
    float: right;
}
.style_red {
    color: #c81623;
}
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color:#f1f1f1;
}
.shortcut .lf ul li {
    float: left;
}
.shortcut .rf ul li {
    float: left;
}
.shortcut .rf ul li:nth-child(even) {
    width: 1px;
    height: 9px;
    margin: 9px 15px 0 15px;
    background-color: #666;
}
.shortcut .rf ul .arrow_icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 6px;
}

.header {
    position: relative;
    height: 106px;
    /* background-color: pink; */
}
.header .logo {
    position: absolute;
    top: 27px;
    width: 176px;
    height: 61px;
    /* background-color: skyblue; */

}
.header .logo a {
    display: block;
    width: 176px;
    height: 61px;
    font-size: 0;
    background: url(../images/logo.png) no-repeat;
}

.header .search {
    position: absolute;
    top: 27px;
    left: 327px;
    width: 534px;
    height: 34px;
    border: 2px solid #b1191a;
}
.header .search input {
    float: left;
    width: 455px;
    height: 30px;
    padding-left: 10px;
}
.header .search button {
    float: right;
    width: 75px;
    height: 30px;
    background-color: #b1191a;
    font-size: 16px;
    color: white;

}
.header .hotwords {
    position: absolute;
    bottom: 20px;
    left: 337px;

}
.header .hotwords a {
    margin: 0 10px;
}
.header .shopcar {
    position: absolute;
    top: 25px;
    right: 65px;
    width: 140px;
    height: 34px;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    line-height: 34px;
    text-align: center;
}
.shopcar::before {
    content: '\e93a';
    font-family: "icomoon";
    margin-right: 5px;
    color: #b1191a;
}
.shopcar::after {
    content: '\e920';
    font-family: "icomoon";
    margin-left: 10px;
}

.shopcar .count {
    position: absolute;
    left: 100px;
    top: -5px;
    height: 14px;
    padding: 0 4px;
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
}
.nav {
    height: 46px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 44px;
   
}
.dropdown .dt {
    width: 100%;
    height: 100%;
    background-color: #b1191a;
    color: #fff;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
}
.dropdown .dd {
    /* display: none; */
    width: 100%;
    height: 465px;
    margin-top: 2px;
    background-color: #c81623;
}
.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    padding-left: 10px;
    margin-left: 2px;
    /* background-color: #fff; */
}
.dropdown .dd ul li:hover {
    background-color: #fff;
}
.dropdown .dd ul li:hover a {
    color: #c81623;
}
.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}
.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    content: '\e920';
    font-family: "icomoon";
    color: #fff;
    font-size: 16px;
}
.nav .navitems {
    float: left;
}

.navitems ul li {
    float: left;
}
.navitems ul li a {
    height: 44px;
    padding: 0 25px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    color:#000;
    
}

.footer {
    height: 408px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}
.mod_service ul li h5 {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    background: url(../images/icons.png) no-repeat -252px -3px;
}

.service_txt h4 {
    font-size: 14px;
}
.service_txt p {
    margin-top: 5px;
    font-size: 12px;
}
.mod_help {
    height: 187px;
    border-bottom: 1px solid #ccc;
    padding-left: 45px;
    padding-top: 20px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 5px;
}

.mod_help dl dd {
    font-size: 12px;
}
.mod_copyright {
    text-align: center;
    font-size: 12px;

}
.mod_copyright .links {
    margin: 20px 0 15px 0;
}
.links a {
    margin: 0 15px;
}
.mod_copyright .copyright {
    line-height: 20px;
}