
.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.main .focus {
    float: left;
    width: 720px;
    height: 455px;
}

.main .newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.newsflash .news {
    height: 164px;
    border: 1px solid #e4e4e4;
}

.news .news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e8e8e7;
    padding: 0 15px;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
}
.news_hd .more {
    float: right;
}
.news_hd .more::after {
    content: '\e920';
    font-family: 'icomoon';
}
.news_bd ul {
    padding: 5px 17px;
}
.news_bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.newsflash .lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li{
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i{
    display: inline-block;
    height: 25px;
    width: 20px;
    background: url(../images/icons.png) no-repeat -17px -14px;
    margin-top: 12px;


}
.newsflash img {
    margin-top: 7px;
}

.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 10px;
}

.recom .recom_hd {
    float: left;
    height: 163px;
    width: 206px;
    background-color: #5c5251;
    padding-left: 55px;
    padding-top: 25px;
}

.recom .recom_bd {
    float: left;
}

.recom .recom_bd li {
    position: relative;
    float: left;
}

.recom .recom_bd li img{
    width: 248px;
    height: 163px;
}

.recom .recom_bd li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 143px;
    background-color: #dddddd;

}

.likes .likes_hd {
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
}

.likes_hd .cai {
    float: left;
    font-size: 18px;
}

.likes_hd .change {
    float: right;
    font-size: 12px;
}

.likes_hd .change::after {
    content: '\ea2e';
    font-family: "icomoon";
    margin-right: 20px;
    margin-left: 10px;
}

.likes_bd {
    height: 232px;
    border: 1px solid #ededed;
}

.likes_bd ul li {
    position: relative;
    float: left;
    width: 199px;
    text-align: center;
}

.likes_bd ul li:nth-child(-n+5):after {
    position: absolute;
    bottom: 10px;
    right: 0;
    content: '';
    height: 62px;
    width: 1px;
    background-color: #dddddd;    
}

.likes_bd ul li img {
    padding-top: 25px;
}

.likes_bd ul li p {
    font-size: 12px;
}

.likes_bd ul li .price {
    font-size: 18px;
    color: #df3033;
    text-align: left;
    margin-left: 35px;
}
.floor .w {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.box_hd .tab_list {
    float: right;
    line-height: 30px;
}

.box_hd .tab_list ul li {
    float: left;
}

.box_hd .tab_list ul li a {
    padding: 0 15px;
    font-size: 12px;
}

.tab_list_item {
    height: 361px;
}
.tab_list_item>div {
    float: left;
}

.col_210 {
    width: 210px;
    height: 361px;
    background-color: #f9f9f9;
}
.col_210 ul {
    padding-left: 13px;
}
.col_210 ul li {
    float: left;
    width: 86px;
    height: 32px;
    margin-right: 11px;
    border-bottom: 1px solid #ededed;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #f9f9f9;
}

.col_219 {
    width: 219px;
}

.bb {
    display: block;
    border-bottom: 1px solid #f9f9f9;
}
