.nav {
    overflow: hidden;
}
.sk {
    position: absolute;
    left: 185px;
    top: 40px;
    padding: 3px 0 0 15px;
    border-left: 1px solid #b1191a;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 28px;
    font-size: 16px;
    font-weight: 800;
    color: #000;

}
.sk_con {
    float: right;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    line-height: 49px;
    padding: 0 23px;
    font-size: 14px;
}

.sk_con ul li:last-child a::after {
    content: '\e91e';
    font-family: "icomoon";
}


.sk_bd ul li {
    float: left;
    width: 289px;
    height: 459px;
    margin-top: 25px;
    margin-right: 14px;
    border: 1px solid transparent;
}

.sk_bd ul li:hover {
    border: 1px solid #e12228;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 12px;
    font-size: 14px;
    color: #000;
}
.sk_bd ul li .price {
    height: 25px;
    padding-left: 14px;
}

.sk_bd ul li .price .now{
    float: left;
    width: 80px;
    height: 25px;
    font-size: 22px;
    color: #e12228; 
}

.sk_bd ul li .price .before{
    float: left;
    width: 80px;
    height: 25px;
    padding-top: 8px;
    font-size: 14px;
    color: #bfbfbf; 
    text-decoration: line-through;
}

.sk_bd ul li .sell {
    height: 38px;
    line-height: 38px;
}

.sk_bd ul li .sell .sold {
    float:left;
    margin-left: 14px;
    font-size: 14px;
}

.sk_bd ul li .sell .to {
    overflow: hidden;
    float: left;
    width: 132px;
    height: 12px;
    margin-top: 13px;
    margin-left: 12px;
    border: 1px solid #ed282e;
    border-radius: 6px;
    background-color: #fff;
}
.sk_bd ul li .sell .to .long {
    height: 100%;
    width: 80%;
    background-color: #ed282e;
}

.sk_bd ul li .sell .remain {
    position: relative;
    float: left;
    width: 60px;
    margin-left: 8px;
    font-size: 14px;
}

.sk_bd ul li .sell .remain .number {
    position: absolute;
    top: 0;
    left: 28px;
    color: #ed282e;
}


.sk_bd ul li .buy {
    display: block;
    height: 43px;
    background-color: #b1191a;
    text-align: center;
    line-height: 43px;
    font-size: 20px;
    color: #fff;
}

.footer {
    margin-top: 280px;
}