.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c6192a;
}

img {
    margin-top: 16px;
}   

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 22px;
}

.registerarea h3 {
    height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    padding: 0 10px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #c81623;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li{
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 105px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 238px;
    height: 35px;
    border: 1px solid #ccc;
}

.error {
    color: #df3033;
}

.error_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -2px;
    background: url(../images/error.png) no-repeat;
}

.success {
    color: green;
}

.success_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -2px;
    background: url(../images/success.png) no-repeat;
}

.safe {
    padding-left: 180px;
}

.safe em {
    padding: 0 12px;
}

.ruo {
    background-color: #de1111;
}

.zhong {
    background-color: #40b83f;
}

.qiang {
    background-color: #f79100;
}
.agree {
    padding-left: 120px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #93caf0;
}

.btn {
    padding-left: 110px;
}

.btn input {
    width: 200px;
    height: 35px;
    color: #fff;
    background-color: #c81623;
    font-size: 14px;
}

.mod_copyright {
    text-align: center;
    font-size: 12px;

}
.mod_copyright .links {
    margin: 20px 0 15px 0;
}
.links a {
    margin: 0 15px;
}
.mod_copyright .copyright {
    line-height: 20px;
}